{% extends "base.html" %}

{% block title %}留言板（使用 AJAX 实现）{% endblock %}

{% block input %}
<div id="id-note-add-form" class="note-add-form">
    <input type="text" class="note-title-input" placeholder="标题">
    <input type="text" class="note-content-input" placeholder="内容">
    <button class="note-add">发表留言</button>
</div>
{% endblock %}

{% block main %}
<h2>留言列表</h2>
<div id="id-note-list" class="note-list">
</div>
{% endblock %}

{% block script %}
<script src="/static?file=utils.js"></script>
<script src="/static?file=note.js"></script>
{% endblock %}
