<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板页面</title>
</head>
<body>
    <h1>留言板（使用 AJAX 实现）</h1>
    <h2>你好 {{ username }}</h2>
    <div id="id-note-add-form" class="note-add-form">
        <input type="text" class="note-title-input" placeholder="标题">
        <input type="text" class="note-content-input" placeholder="内容">
        <button id="id-note-add-button">发表留言</button>
    </div>
    <a href="/">回到主页</a>
    <h2>留言列表</h2>
    <div id="id-note-list" class="note-list">
    </div>
</body>
<script src="/static?file=utils.js"></script>
<script src="/static?file=note.js"></script>
</html>
