<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册页面</title>
</head>
<body>
    <h1>用户注册</h1>
    <h2>你好 {{ username }}</h2>
    <form action="/user/register?csrf_token={{ csrf_token }}" method="POST">
        <input type="text" name="username" placeholder="请输入用户名">
        <br>
        <input type="text" name="password" placeholder="请输入密码">
        <br>
        <button type="submit">注册</button>
    </form>
    <a href="/">回到主页</a>
    <a href="/user/login/view">用户登录</a>
    <h2>{{ result }}</h2>
</body>
</html>
